<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ng-click="changeNivel('{{typeView}}')">New game</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/list_games">Ver Partidas</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="jumbotron">
        <div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading">
		  	Game List
		  </div>
		  <div class="panel-body">
			<table class="table table-striped">
              <thead>
                <tr>
                  <th>#Id</th>
                  <th>username</th>
                  <th>time</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                </tr>
              </tbody>
            </table>
		  </div>
		</div>
      </div>

      <footer class="footer">
        <p>&copy; Company 2017</p>
      </footer>

    </div> <!-- /container -->