<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">New game</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="jumbotron">
        <div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading">
		  	div de time
		  	div de minas
		  </div>
		  <div class="panel-body">
		  </div>

		  <table class="matrix table table-bordered {{typeView}}"> 
			  <tbody> 
			  <tr ng-repeat="row in matrix"> 
			  	<td ng-repeat="col in row" class="{{col.status}}" ng-mousedown="handleClick($event,col.row,col.col)" oncontextmenu="return false"></td> 
			  </tr>  
			  </tbody> 
		  </table>
		</div>
      </div>

      <footer class="footer">
        <p>&copy; Company 2017</p>
      </footer>

    </div> <!-- /container -->