.minesweeper .container {
    max-width: 76rem;
}

.minesweeper .content-form{
	width: 300px;
	margin:auto;
}
.minesweeper .content-form .input-group{
	width: 100%;
}

.minesweeper .table.matrix>tbody>tr>td{
	width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-family: 'Arial Black',Arial,sans-serif;
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
    cursor: default;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-color: #bdbdbd;	
}

.minesweeper .table.intermediate{
    width: 320px;
	margin: auto;
}
.minesweeper .table.beginner{
    width: 160px;
    margin: auto;
}
.minesweeper .table.expert{
    width: 600px;
    margin: auto;
}
.minesweeper .table.intermediate>tbody>tr>td td{

}
.panel{
	padding-bottom: 20px;
}

.minesweeper td.flag {
    background-image: url(../img/flag.svg)!important;
}
 
.minesweeper td.mine,.minesweeper td.explosion{
    background-image: url(../img/mine.svg)!important;
}

.minesweeper td.falsemine {
    background-image: url(../img/minestrike.svg)!important;
}

.minesweeper td.questionmark {
    background-image: url(../img/questionmark.svg)!important;
}

.minesweeper td.explosion {
    background-color: #f00!important;
}

.minesweeper td.closed {
    border-bottom: solid 2px #7b7b7b;
    border-right: solid 2px #7b7b7b;
    border-top: solid 2px #fff;
    border-left: solid 2px #fff;
}

.minesweeper .matrix{   
	border-collapse: seperate;
    border-spacing: 0;
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    border-top: solid 2px #7b7b7b;
    border-left: solid 2px #7b7b7b;}

.minesweeper .nr{
    border-left: solid 1px #7b7b7b;
    border-top: solid 1px #7b7b7b;
    border-bottom: none;
    border-right: none;
}

.minesweeper .panel-default>.panel-heading{
    overflow: hidden;
}

.minesweeper .content-button{
    margin-top: 25px;
}